# Domínio
GITEA_DOMAIN=gitea.example.com

# Banco de dados
GITEA_DB_NAME=gitea
GITEA_DB_USER=gitea
GITEA_DB_PASSWORD=troque_essa_senha

# docker run --rm gitea/gitea:1.27.2 gitea generate secret SECRET_KEY
# docker run --rm gitea/gitea:1.27.2 gitea generate secret INTERNAL_TOKEN
GITEA_SECRET_KEY=
GITEA_INTERNAL_TOKEN=

# docker network inspect traefik
TRAEFIK_NETWORK_SUBNET=172.20.0.0/16
